#hero-wrapper {
  @include for-size(phone-only) {
    padding-top: $space-1;
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
  #hero-container {
    overflow: hidden;
    margin-bottom: $space1;
  }
  .bg-cover {
    background-color: rgba(58,58,58,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #hero-content-container {
    padding: 0;
    @include for-size(lg) {
      min-height: $space12;
      display: flex;
      flex-direction: row;
      align-items: center;

      padding-right: $space1;
      text-align: center;
      padding-top: $space2;
      padding-bottom: $space2;
    }
    #hero-content {
      padding-right: $space-1;
      padding-left: $space-1;

      @include for-size(lg) {
        padding-right: $space3;
        padding-left: $space3;
      }
      h2 {
        font-size: $monotype3;
        @include for-size(sm) {
          font-size: $monotype4;
        }
        @include for-size(md) {
          text-align: center;
        }
      }
    }
  }
  .our-value-wrapper {
    padding: 0 $space-1 $space1;
    font-size: $nimbus2;
    @include for-size(md) {
      padding: $space1;
      padding-top: 0;
      //height: 100%;
      //position: absolute;
      //top: 0;
      //right: 0;
    }
    .our-value-container {
      padding: 0;
      @include for-size(md) {
        //height: 100%;
        //padding-right: $space1;
        padding-left: 0;
      }
      .our-value {
        position: relative;
        padding: 0;
        @include for-size(md) {
          text-align: center;
          padding: $space1;
          height: 100%;
          border-style: solid;
          border-width: 1px;
          border-image-source: conic-gradient(transparent, #4fb2f9, #4fb2f9, #4fb2f9, transparent);
          border-image-slice: 1;
        }
        .section-title {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          @include for-size(md) {
            display: block;
          }
        }
      }
    }
  }
}

video {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  object-position: center;
  display: block;
}

// Header

header.site-header {
  position: sticky;
  top: 0;
  z-index: 9;
  line-height: 100%;
  a.resources-button {
    padding: .75rem 1rem;
    border-radius: 5px;
    margin-left: 2rem;
    font-size: $termina-3;
    font-family: $termina;
    text-decoration: none;
    color: #fff;
  }
  @include for-size(md) {
    .header-mobile .resources-button {
      display: none;
    }
  }
  #header-content {
    border-bottom: 1px solid $fb-light-grey;
    height: 62px;
    z-index: 2;
    position: relative;
    background-color: $background-grey;
    // @include for-size(md) {
    //   height: 100px;
    // }
    .blue-border {
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 5px;
      transition: width .5s ease-in-out;
    }
    .site-branding {
      width: 8.5rem;
      @include for-size(md) {
        width: 11.5rem;
      }
      a {
        display: flex;
      }
    }
    @include for-size(md-down) {
      height: auto;
      .full-width {
        padding: 0;
      }
      #header-content-inner {
        flex-direction: column;
        .header-mobile {
          width: 100%;
          padding: $space-5 $space-1;
          border-bottom: 1px solid #c6c6c6;
        }
      }
    }
    #site-navigation {
      @include for-size(md-down) {
        justify-content: flex-start;
        width: 100%;
        padding: 0 $space-3;
        background-color: white;
      }
      a:not(.resources-button) {
        color: black;
        text-transform: lowercase;
        font-size: $termina-3;
        padding: $space-3 $space-4;
      }
      .resources-button {
        display: none;
        font-size: $termina-3;
        @include for-size(md) {
          display: block;
        }
        &:visited {
          color: white;
        }
      }
      #contact-fb {
        position: relative;
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 7.5px 0 7.5px;
          border-color: #d8d8d8 transparent transparent transparent;
          position: absolute;
          top: 75%;
          left: 50%;
          transform: translateX(-50%);
        }
        &:hover::after {
          border-color: $fb-blue transparent transparent transparent;
        }
      }
    }
    &.active {
      .blue-border {
        width: 100%;
        border-image-source: linear-gradient(to left, #4fb2f9, #c5e4fa);
        background: #c5e4fa; /* Old browsers */
        background: -moz-linear-gradient(left, #c5e4fa -1%, #c5e4fa 0%, #4fb2f9 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #c5e4fa -1%,#c5e4fa 0%,#4fb2f9 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #c5e4fa -1%,#c5e4fa 0%,#4fb2f9 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e4fa', endColorstr='#4fb2f9',GradientType=1 ); /* IE6-9 */
      }
      // #site-navigation {
      //   #contact-fb {
      //     position: relative;
      //     &::after {
      //       border-color: $fb-blue transparent transparent transparent
      //     }
      //   }
      // }
    }
  }
  #fb-resources-container {
    border-bottom: 1px solid #c6c6c6;
    background-color: white;
    top: 100%;
    z-index: 1;
    position: absolute;
    transform: translateY(-100%);
    transition: transform .2s linear;
    width: 100%;
    padding-right: 3.5rem;
    &.active {
      transform: translateY(0);
    }
    @include for-size(md-down) {
      .full-width {
        padding: 0;
      }
    }
    .close-resources {
      position: absolute;
      top: .5rem;
      right: -3rem;
      height: auto;
      a {

        color: black;
      }
    }
    #robot-graphic {
      height: 100%;
      width: auto;
      position: absolute;
      left: 0;
      top: 0;
    }
    #fb-resources {
      @include for-size(md-down) {
        padding: 0;
      }
      .fb-resource {
        padding: $space-2 $space-1;
        min-width: 17rem;
        @include for-size(md) {
          padding: $space-2 0;
        }
        &:not(:last-of-type) {
          border-right: 1px solid #c6c6c6;
        }
        @include for-size(md-down) {
          width: 100%;
          &:not(:last-of-type) {
            border-right: none;
          }
        }
        .fb-resource-content {
          width: 100%;
          padding: 0 $space-2;
          @include for-size(md-down) {
            padding: 0;
          }
        }
        a {
          text-decoration: none;
          position: relative;
          @include for-size(sm) {
            padding-right: $space2;
          }
          img {
            height: $space-1;
            width: auto;
            @include for-size(sm) {
              height: $space1;
            }
          }
          &::after {
            content: '';
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/graphics/download.svg');
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            display: none;
            @include for-size(sm) {
              display: block;
            }
          }
        }
        span {
          margin: 0 $space-3;
          color: black;
        }
      }
    }
  }
}

body.admin-bar {
  header.site-header {
    top: 32px;
  }
}

// Home sections

.section-title {
  text-transform: uppercase;
  font-size: $ibm-2;
}

// Video Section

.content-above-video {
  color: $fb-med-grey;
  font-size: $termina-1;
  font-family: $termina;
  border-top: 1px solid $fb-light-grey;
  padding: 0;
  p {
    margin: $space2 0;
    @include for-size(md) {
      margin: $space2 $space3;
    }
  }
}
.video-content-wrapper {
  position: relative;
  padding-bottom: 0px;
  &::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-grey;
  }
  .video-embed-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  @include for-size(lg-down) {
    .content {
      padding: 0;
    }
  }
  .video-container {
    position: relative;
    .play-button-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
      cursor: pointer;
      transition: opacity .4s linear;
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
      .play-button {
        width: $space3;
        height: $space3;
        border: 8px solid $fb-blue;
        border-radius: 50%;
        transition: all .2s linear;
        transform: scale(1) rotate(0.001deg);
        cursor: pointer;
        &::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 0 18px 25px;
          border-color: transparent transparent transparent $fb-blue;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-35%, -50%);
        }
      }
      &:hover {
        .play-button {
          transform: scale(1.2) rotate(0.001deg);
        }
      }
    }
  }
}

// Graphics Section

.graphics-wrapper {
  .row {
    padding: $space2 0;
    @include for-size(sm) {
      padding: $space3 0;
    }
    @include for-size(md) {
      padding: $space3 $space2;
    }
    @include for-size(lg) {
      padding: $space5 0;
    }
    .col-6:first-child {
      margin-bottom: $space2;
      @include for-size(sm) {
        margin-bottom: $space4;
      }
      @include for-size(lg) {
        margin-bottom: 0;
      }
    }
  }
  .graphic {
    img {
      width: 100%;
      height: auto;
    }
  }
}

// Graphic Slider Section

.graphic_slider-wrapper {
  background-color: $background-grey;
  border-top: 1px solid $fb-med-grey;
  padding: $space3 0 $space1 0;
  @include for-size(md) {
    padding: $space5 0;
  }
  .col-4 {
    padding: 0;
    margin-bottom: $space3;
    @include for-size(sm) {
      padding: 0 $space3;
    }
    @include for-size(md) {
      padding: 0 $space5;
    }
    @include for-size(lg) {
      padding-left: 0;
      padding-right: $space1;
      margin-bottom: 0;
    }
  }
  .col-8 {
    @include for-size(md-down) {
      padding: 0;
    }
  }
  .section-description {
    width: 90%;
    p {
      line-height: 1.5;
      font-size: $monotype2;
      @include for-size(md-down) {
        margin-bottom: $space-1;
      }
    }
  }
  .graphic-slides {
    border: 1px solid $fb-light-grey;
    border-radius: 16px;
  }
  .graphic-slide-wrapper {
    position: relative;
    padding: $space1;
    .graphic-slide-container {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      .graphic-slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        border-radius: 50%;
        svg, img {
          width: 60%;
          height: auto;
        }
      }
    }
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: $space-2 0;
      border-bottom: 1px solid $fb-dark-grey;
      cursor: pointer;
      opacity: .5;
      -webkit-opacity: .5;
      .graphic-slide-label {
        padding-left: 3rem;
        position: relative;
        transform: translateX(-3rem);
        transition: transform .2s ease-in-out;
        span {
          color: $fb-dark-grey;
          &::before {
            content: '';
            position: absolute;
            left: 1.25rem;
            top: 50%;
            transform: translateY(-50%);
            width: .5rem;
            height: .5rem;
            background-color: $fb-blue;
            border-radius: 50%;
            opacity: 0;
            transition: opacity .2s linear;
            transition-delay: 0s;
          }
        }
      }
      &.slick-active {
        opacity: 1;
        -webkit-opacity: 1;
        .graphic-slide-label {
          transform: translateX(0);
          span {
            color: black;
            &::before {
              opacity: 1;
              transition-delay: .3s;
            }
          }
        }
      }
    }
  }
}

// Info Block Section

.info_block-wrapper {
  background-color: $fb-black;
  padding: $space3 0;
  @include for-size(lg){
    padding: $space6 0;
  }
  .content-inner {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-image-source: conic-gradient(#303030, #ffffff, #303030);
    border-image-slice: 1;
    min-height: $space11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space1;
    @include for-size(md){
      padding: $space4;
    }
    .section-title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h2 {
      color: $fb-blue;
      font-size: $termina2;
      line-height: 1.3;
      font-family: $termina;
      @include for-size(sm){
        font-size: $termina2;
      }
      @include for-size(md){
        font-size: $termina3;
      }
    }
    p {
      font-size: $nimbus1;
      margin-top: 0;
    }
  }
}

// Info Boxes Section

.info_boxes-wrapper {
  background-color: $background-grey;
  padding-top: $space4;
  h2 {
    line-height: 1.3;
    font-size: $termina3;
  }
  .info-boxes-description {
    p {
      margin-top: 0;
      font-size: $nimbus2;
    }
  }
  .info-boxes {
    .info-box {
      height: 100%;
      margin-bottom: $space-1;
      font-size: $nimbus2;
      color: $fb-med-grey;
      .ratio-3-2 > div {
        line-height: 1.3;
        .info-box-number {
          position: absolute;
          z-index: 1;
          font-size: $nimbus1;
          top: $space-3;
          left: $space-3;
          width: $space1;
          height: $space1;
          border-radius: 50%;
          background-color: $fb-blue;
          color: white;
        }
      }
    }
  }
}

#fb-contact-box {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translate3d(100%, 0, 0);
  transition: transform .5s ease-in;
  display: flex;
  justify-content: flex-end;
  padding-top: 62px;
  .close-contact {
    width: 16px;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    svg {
      width: 100%;
      height: auto;
    }
  }
  #fb-contact-box-content {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    border-left: 1px solid $fb-light-grey;
    padding-top: $space2;
    @include for-size(md) {
      padding-top: 0;
    }
  }
  &.active {
    transform: translate3d(0, 0, 0);
  }
  @include for-size(md) {
    //padding-top: 100px;
    #fb-contact-box-content {
      width: 27rem;
    }
  }
  .caldera-grid {
    height: 100%;
    #caldera_notices_1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .alert {
        font-size: 1.25rem;
        text-align: center;
        padding: $space-1;
        background-color: transparent;
        color: black;
        font-family: $termina;
      }
    }
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      .col-sm-12 {
        width: 100vw;
        padding-right: 0;
      }
    }
    #CF5d52f1b49f43a_1-row-3 {
      flex-grow: 1;
    }
    .contact-form-submit {
      margin-bottom: $space1;
    }
  }
  .contact-form-header {
    padding: $space-3 $space2;
    @include for-size(sm) {
      padding: $space-3 $space5;
    }
    @include for-size(md) {
      padding: $space-3 $space-1;
    }
    h2 {
      font-size: $monotype2;
    }
    h4 {
      font-family: $termina;
      font-size: $termina-2;
      margin-top: $space2;
      margin-bottom: 0;
    }
  }
  .form-group {
    padding-left: $space2;
    padding-right: $space2;
    @include for-size(sm) {
      padding-left: $space5;
      padding-right: $space5;
    }
    @include for-size(md) {
      padding-left: $space-1;
      padding-right: $space-1;
    }
    input[type="text"], input[type="email"] {
      background-color: $background-grey;
      border: none;
      box-shadow: none;
      font-family: $ibm;
      font-weight: 400;
      font-size: $ibm-2;
      &::placeholder {
        color: $fb-black;
        text-transform: uppercase;
      }
    }
    textarea {
      border: none;
      box-shadow: none;
      font-size: $nimbus-1;
      resize: none;
      padding: 5px;
      font-weight: 400;
      color: $fb-black;
      &::placeholder {
        color: $fb-black;
      }
    }
  }
  input[type="submit"] {
    background-color: $fb-blue;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    padding-top: $space-5;
    padding-bottom: $space-5;
    color: white;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .contact-form-textarea {
    border-top: 1px solid #e6e6e6;
    margin-top: $space-1;
    padding-top: $space-1;
  }
}

body.admin-bar {
  #fb-contact-box {
    @include for-size(md) {
      padding-top: 94px;
    }
  }
}

.site-footer {
  position: relative;
  padding: 0;
  @include for-size(lg) {
    padding: $space2 0;
  }
  p {
    font-family: $termina;
    font-size: $termina-2;
  }
  .site-title {
    margin-bottom: 1.5rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .ur-cert-badge {
    width: $space9;
    height: auto;
    display: block;
    @include for-size(md) {
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.error-404 h1 {
  margin: $space5 0;
}
