@mixin for-size($range) {
  $sm: 480px;
  $md: 768px;
  $lg: 1024px;
  $xl: 1400px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}



$nimbusMultiplier: .9;
// Text Sizes https://www.modularscale.com/?9.541&pt&1.333
$nimbus-3: calc(.563rem * #{$nimbusMultiplier}); //5.3px
$nimbus-2: calc(.75rem * #{$nimbusMultiplier}); //7.15px
$nimbus-1: calc(1rem * #{$nimbusMultiplier}); //9.54px
$nimbus1: calc(1.333rem * #{$nimbusMultiplier}); //12.718px BASE SIZE
$nimbus2: calc(1.777rem * #{$nimbusMultiplier}); //16.9px
$nimbus3: calc(2.369rem * #{$nimbusMultiplier}); //22.59px
$nimbus4: calc(3.157rem * #{$nimbusMultiplier}); //30.124px
$nimbus5: calc(4.209rem * #{$nimbusMultiplier}); //40.155px
$nimbus6: calc(5.61rem * #{$nimbusMultiplier}); //53.527px
$nimbus7: calc(7.478rem * #{$nimbusMultiplier}); //71.352px
$nimbus8: calc(9.96rem * #{$nimbusMultiplier}); //95.112px
$nimbus9: calc(13.288rem * #{$nimbusMultiplier}); //126.7px

$monotypeMultiplier: 1.2;
// Text Sizes https://www.modularscale.com/?9.541&pt&1.333
$monotype-3: calc(.563rem * #{$monotypeMultiplier}); //5.3px
$monotype-2: calc(.75rem * #{$monotypeMultiplier}); //7.15px
$monotype-1: calc(1rem * #{$monotypeMultiplier}); //9.54px
$monotype1: calc(1.333rem * #{$monotypeMultiplier}); //12.718px BASE SIZE
$monotype2: calc(1.777rem * #{$monotypeMultiplier}); //16.9px
$monotype3: calc(2.369rem * #{$monotypeMultiplier}); //22.59px
$monotype4: calc(3.157rem * #{$monotypeMultiplier}); //30.124px
$monotype5: calc(4.209rem * #{$monotypeMultiplier}); //40.155px
$monotype6: calc(5.61rem * #{$monotypeMultiplier}); //53.527px
$monotype7: calc(7.478rem * #{$monotypeMultiplier}); //71.352px
$monotype8: calc(9.96rem * #{$monotypeMultiplier}); //95.112px
$monotype9: calc(13.288rem * #{$monotypeMultiplier}); //126.7px

$terminaMultiplier: 1.5;
// Text Sizes https://www.modularscale.com/?9.541&pt&1.333
$termina-3: calc(.563rem * #{$terminaMultiplier}); //5.3px
$termina-2: calc(.75rem * #{$terminaMultiplier}); //7.15px
$termina-1: calc(1rem * #{$terminaMultiplier}); //9.54px
$termina1: calc(1.333rem * #{$terminaMultiplier}); //12.718px BASE SIZE
$termina2: calc(1.777rem * #{$terminaMultiplier}); //16.9px
$termina3: calc(2.369rem * #{$terminaMultiplier}); //22.59px
$termina4: calc(3.157rem * #{$terminaMultiplier}); //30.124px
$termina5: calc(4.209rem * #{$terminaMultiplier}); //40.155px
$termina6: calc(5.61rem * #{$terminaMultiplier}); //53.527px
$termina7: calc(7.478rem * #{$terminaMultiplier}); //71.352px
$termina8: calc(9.96rem * #{$terminaMultiplier}); //95.112px
$termina9: calc(13.288rem * #{$terminaMultiplier}); //126.7px

$ibmMultiplier: .9;
// Text Sizes https://www.modularscale.com/?9.541&pt&1.333
$ibm-3: calc(.563rem * #{$ibmMultiplier}); //5.3px
$ibm-2: calc(.75rem * #{$ibmMultiplier}); //7.15px
$ibm-1: calc(1rem * #{$ibmMultiplier}); //9.54px
$ibm1: calc(1.333rem * #{$ibmMultiplier}); //12.718px BASE SIZE
$ibm2: calc(1.777rem * #{$ibmMultiplier}); //16.9px
$ibm3: calc(2.369rem * #{$ibmMultiplier}); //22.59px
$ibm4: calc(3.157rem * #{$ibmMultiplier}); //30.124px
$ibm5: calc(4.209rem * #{$ibmMultiplier}); //40.155px
$ibm6: calc(5.61rem * #{$ibmMultiplier}); //53.527px
$ibm7: calc(7.478rem * #{$ibmMultiplier}); //71.352px
$ibm8: calc(9.96rem * #{$ibmMultiplier}); //95.112px
$ibm9: calc(13.288rem * #{$ibmMultiplier}); //126.7px

// Space Sizes https://www.modularscale.com/?9.541&pt&1.333
$multiple: 1.2;
$space-5: calc(.563rem * #{$multiple}); //5.3px
$space-4: calc(.75rem * #{$multiple}); //7.15px
$space-3: calc(1rem * #{$multiple}); //9.54px
$space-2: calc(1.333rem * #{$multiple}); //12.718px
$space-1: calc(1.777rem * #{$multiple}); //16.9px
$space1: calc(2.369rem * #{$multiple}); //22.5px GRID GAP
$space2: calc(3.157rem * #{$multiple}); //30.124px
$space3: calc(4.209rem * #{$multiple}); //40.155px MEDIUM SPACE
$space4: calc(5.61rem * #{$multiple}); //53.523px
$space5: calc(7.478rem * #{$multiple}); //71.352px LARGE SPACE + HEIGHT OF IMAGE (project landing)
$space6: calc(7.993rem * #{$multiple}); //95.112px
$space7: calc(9.96rem * #{$multiple}); //249.139px HEIGHT OF IMAGE (gallery)
$space8: calc(13.288rem * #{$multiple}); //126.7px
$space9: calc(17.713rem * #{$multiple}); //169px
$space10: calc(23.612rem * #{$multiple}); //225px
$space11: calc(31.475rem * #{$multiple}); //300px
$space12: calc(41.956rem * #{$multiple}); //400px
$space13: calc(55.927rem * #{$multiple}); //533px

$background-grey: #f7f7f7;
$fb-dark-grey: #3A3A3A;
$fb-med-grey: hsl(0,0,50);
$fb-med-grey: hsl(0,0,70);
$fb-light-grey: hsl(0,0,90);
$fb-blue: #4fb2f9;
$fb-black: #303030;

$termina: "termina",sans-serif;
$nimbus: "nimbus-sans";
$ibm: "IBM Plex Sans", sans-serif;
